# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [3]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [4]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [5]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
# Your code here:
salaries.isna().sum(axis=0)/salaries.shape[0]

Name                 0.00000
Job Titles           0.00000
Department           0.00000
Full or Part-Time    0.00000
Salary or Hourly     0.00000
Typical Hours        0.75825
Annual Salary        0.24175
Hourly Rate          0.75825
dtype: float64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [7]:
# Your code here:

salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [8]:
# Your code here:
salaries["Department"].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [9]:
salaries["Salary or Hourly"].unique()

array(['Salary', 'Hourly'], dtype=object)

In [10]:
# Your code here:
hourly_worker = salaries[salaries["Salary or Hourly"] == "Hourly"]["Hourly Rate"]
salary_hour = 30

In [11]:
from scipy.stats import ttest_1samp

In [12]:
prob = ttest_1samp(hourly_worker, salary_hour)

In [13]:
prob

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [ ]:
#pvalue es menor que 0.05, así que rechazamos la hipótesis nula.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [14]:
# Your code here:
last_year_mean = 86000
curr_salary = salaries[salaries["Salary or Hourly"] == "Salary"]["Annual Salary"]

In [15]:
prob2 = ttest_1samp(curr_salary, last_year_mean)

In [16]:
prob2

Ttest_1sampResult(statistic=5.932870515690814, pvalue=3.015758519916386e-09)

In [17]:
3.015758519916386e-09/2

1.507879259958193e-09

In [ ]:
#pvalue es menor que 0.05, así que rechazamos la hipótesis nula.

Using the `crosstab` function, find the department that has the most hourly workers.

In [18]:
# Your code here:
pd.crosstab(salaries.Department, salaries["Salary or Hourly"]).sort_values("Hourly", ascending = False).head()

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829
AVIATION            1082     547
GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [19]:
# Your code here:
salary_hour = salaries[(salaries.Department == "STREETS & SAN") & (salaries["Salary or Hourly"] == "Hourly")]["Hourly Rate"].values

In [20]:
less_35 = ttest_1samp(salary_hour, 35)

In [21]:
less_35

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [ ]:
#pvalue es menor que 0.05, así que rechazamos la hipótesis nula.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [25]:
# Your code here:
from scipy.stats import t 
salaries.describe()

       Typical Hours  Annual Salary  Hourly Rate
count    8022.000000   25161.000000  8022.000000
mean       34.507604   86786.999790    32.788558
std         9.252077   21041.354602    12.112573
min        10.000000    7200.000000     2.650000
25%        20.000000   76266.000000    21.200000
50%        40.000000   90024.000000    35.600000
75%        40.000000   96060.000000    40.200000
max        40.000000  300000.000000   109.000000

In [30]:
muestra = salaries[salaries["Salary or Hourly"] == "Salary"]['Annual Salary']
media = muestra.mean()
stdv = muestra.std()
grad_lib = len(muestra) - 1


intervalo = t.interval(0.95, grad_lib, loc= media, scale= stdv)
intervalo

(45544.71855637952, 128029.28102392354)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [32]:
# Your code here:
muestra2 = salaries[(salaries["Salary or Hourly"] == "Salary") & (salaries["Department"] == "POLICE")]["Annual Salary"]
media2 = muestra.mean()
stdv2 = muestra.std()
grad_lib2 = len(muestra) - 1


intervalo = t.interval(0.95, grad_lib2, loc= media2, scale= stdv2)
intervalo

(45544.71855637952, 128029.28102392354)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [33]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

In [49]:
alpha = 0.05
muestra3 = salaries[salaries["Salary or Hourly"] == "Hourly"]
nobs = salaries["Salary or Hourly"]
pval = proportions_ztest(len(muestra3), len(nobs),value = 0.25)[1]

0.0004481127249057967

In [55]:
#pval es menor que 0.05, así que rechazamos la hipótesis nula.