# Advanced Querying Mongo

Importing libraries and setting up connection

In [ ]:
# from pymongo import MongoClient
# client = MongoClient("")
from pymongo import MongoClient

In [ ]:
mongodb_url = "mongodb://localhost/companies.json"

In [ ]:
client = MongoClient(mongodb_url)

In [ ]:
db = client.get_database()

In [ ]:
db

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [ ]:
# Your Code

In [ ]:
name = "name"

In [ ]:
res = db.companies.find({name:"Babelgum"}, {name:1})

In [ ]:
res

In [ ]:
list(res)

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [ ]:
# Your Code

res2 = db.companies.find({"number_of_employees":{"$gt":1000}}, {name:1}).sort([("number_of_employees",-1)]).limit(20)

In [ ]:
list(res2)[0]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [ ]:
# Your Code
res3 = list(db.companies.find({"founded_year":{"$gte":2000, "$lte":2005}}, {name:1, "founded_year": 1}))

In [ ]:
res3[0]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [ ]:
# Your Code

res4 = db.companies.find({"founded_year": {"$lte":2010},"ipo.valuation_amount": {"$gte":100000000}}, {name: 1,"ipo": 1})

In [ ]:
list(res4)[0]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [ ]:
# Your Code

res5 = db.companies.find({"founded_year":{"$lte":2004}, "number_of_employees":{"$lte" :1000}}).limit(10).sort([("number_of_employees",-1)])

In [ ]:
list(res5)[0]

### 6. All the companies that don't include the `partners` field.

In [ ]:
res6 = db.companies.find({"partners":{"$exists":False}})

In [ ]:
list(res6) #Al poner True funciona, pero no encuentra valores para la condici√≥n opuesta

### 7. All the companies that have a null type of value on the `category_code` field.

In [ ]:
# Your Code

res7 = db.companies.find({"category_code":None})

In [ ]:
list(res7)[0]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [ ]:
res8 = db.companies.find({"number_of_employees":{"$gte":100, "$lte":1000}}, {name:1, "number_of_employees": 1})

In [ ]:
list(res8)[0]

### 9. Order all the companies by their IPO price in a descending order.

In [ ]:
# Your Code
res9 = db.companies.find({}).sort([("ipo.valuation_amount",1)])

In [ ]:
list(res9)[0]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [ ]:
# Your Code

res10 = db.companies.find({}).sort([("number_of_employees",1)]).limit(10)

In [ ]:
list(res10)[0]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [ ]:
# Your Code
res11 = db.companies.find({"founded_month":{"$gt":6, "$lte":12}}).limit(1000)

In [ ]:
list(res11)[0]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [ ]:
# Your Code
res12 = db.companies.find({"$and":[{"founded_year":{"$lt":2000}}  ,{"acquisition.price_amount":{"$gt":10000000}}]})

In [ ]:
list(res12)[0]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [50]:
# Your Code
res13 = db.companies.find({"acquisition.acquired_year":{"$gt":2010}},  {name:1, "acquisition" :1})

In [51]:
list(res13)[0]

{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
 'name': 'Wetpaint',
 'acquisition': {'price_amount': 30000000,
  'price_currency_code': 'USD',
  'term_code': 'cash_and_stock',
  'source_url': 'http://allthingsd.com/20131216/viggle-tries-to-bulk-up-its-social-tv-business-by-buying-wetpaint/?mod=atdtweet',
  'source_description': ' Viggle Tries to Bulk Up Its Social TV Business by Buying Wetpaint',
  'acquired_year': 2013,
  'acquired_month': 12,
  'acquired_day': 16,
  'acquiring_company': {'name': 'Viggle', 'permalink': 'viggle'}}}

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [ ]:
# Your Code
res14 = db.companies.find({},  {name:1, "founded_year":1}).sort("founded_year", 1)

In [ ]:
list(res14)[0]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [ ]:
# Your Code
res15 = db.companies.find({"founded_day":{"$gte":1,"$lte":7}},{name:1}).sort("acquisition.price_amount",-1).limit(10)

In [ ]:
list(res15)

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [ ]:
# Your Code
res16 = db.companies.find({"$and":[{"category_code":"web"},{"number_of_employees":{"$gt":4000}}]}).sort("number_of_employees", 1)

In [ ]:
list(res16)[0]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [ ]:
# Your Code
res17 = db.companies.find({"$and":[{"acquisition.price_amount":{"$gt":10000000}},{"acquisition.price_currency_code":"EUR"}]})

In [ ]:
list(res17)[0]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [ ]:
# Your Code
res18 = db.companies.find({"acquisition.acquired_month":{"$gte":1, "$lte":3}}, {name:1, "acquisition":1})

In [ ]:
list(res18)[0]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code